body{
    margin: 5% 20%;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 568px;
    min-height: 320px;
}
main{
    color: blue;
    cursor: pointer;
}
h1{
    color: black;
}
main:hover{
    color: black;
}

.mem{
    width: 0%;
    margin: 1% 25%;
    transition-property: width;
    transition-duration: 1.5s;
}
.icon{
    width: 2%;
    float: right;
}

input{
    display: none; 
}

 /*вид текста label при активном переключателе*/ 
input:checked + label {
    color: black;
    border-bottom: 0;
}
 /*когда чекбокс активен показываем блоки с содержанием  */
input:checked + label + .mem{
    width: 50%;
    display: block;
}

input:hover + label + .mem{
    width: 50%;
   display: block; 
}