body{
    margin: 5% 20%;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 568px;
    min-height: 320px;
}
main{
    color: blue;
    cursor: pointer;
}
h1{
    color: black;
}
main:hover{
    color: black;
}

img{
   display: none;
    width: 50%;
    margin: 1% 30%;
}
h3:hover + img{
    display: block;
}
a:hover + img{
    display: block;
}
