body{
    margin: 5% 20%;
    font-size: 1.5vw;
   /* max-width: 1920px;
    max-height: 1080px;
    min-width: 568px;
    min-height: 320px;*/
}
main{
    color: blue;
    cursor: pointer;
    overflow:hidden;
}
h1{
    color: black;
}
main:hover{
    color: black;
    
}

.mem{
    width: 0%;
    margin: 1% 25%;
    transition-property: width;
    transition-duration: 1.3s;
    padding: 5px;
    position:relative;
}
.icon{
    width: 2%;
    float: right;
    position: relative;
    opacity: 0;

}

input{
    display: none; 
}

 /*вид текста label при активном переключателе*/ 
input:checked + label {
    color: black;
}
 /*когда чекбокс активен показываем блоки с содержанием  */
 input:checked + label + .mem{
    width: 40%;
    display: block;
}
div:hover .icon{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
}


input:hover + label + .mem{
    width: 40%;
   display: block; 
}

main:hover .icon{
    opacity: 1;

}

